{% extends "layout.html" %}

{% block title %}Register{% endblock title %}

{% block body %}
    <div class="container" id="mainblock">
      <div class="jumbotron">
        <a href="/login" ><button type="button" class="btn btn-primary" ><h4>Login</h4></button></a>
        <h1>Goodreads</h1>
        <p>Goodreads is a "social cataloging" website that allows individuals to freely search its database of books, annotations, and reviews.<br>
        The website's office is located in Room no. 39 of Castle Dio.</p>
      </div>
    </div>


    <div class="container">
      <div class="well well-lg">
      <h1 class="centerwale">Register</h1>
      {% if error %}
          <div class="alert alert-danger">
          <strong>Error!</strong> {{ error }}
          </div>
      {% endif %}

      <h2>
      <form action="/register" method="post">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>

        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
        </div>

        <div class="form-group">
          <label for="cpwd">Confirm Password:</label>
          <input type="password" class="form-control" id="cpwd" placeholder="Re-Enter your password" name="confirm_password">
        </div>
        <div id="bottombutton">
        <button type="submit" class="btn btn-success"><h4>Register</h4></button>
        </div>
      </form>

      <p class="centerwale">Already have an account, <a href="/login">Login</a></p>
      </h2>
      </div>
    </div>
{% endblock body %}