{% extends "layout.html" %}

{% block title %}Verify{% endblock title %}

{% block body %}
      <div class="jumbotron" >
        <h1>Goodreads</h1>
        <p>Goodreads is a "social cataloging" website that allows individuals to freely search its database of books, annotations, and reviews.<br>
        The website's office is located in Room no. 39 of Castle Dio.</p>
      </div>
    </div>

    <div class="container">
      <div class="well well-lg"
<h2>
      <form action='/verify' method="post">
          {{ verifyform.hidden_tag() }}
        <div class="form-group">
            <h3 class='centerwale'>Enter the verification code sent to {{ email }}</h3>
            {% if verifyform.otp.errors %}
                {{ verifyform.otp(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for verifyerror in verifyform.otp.errors %}
                    <span>{{ verifyerror }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ verifyform.otp(class="form-control form-control-lg", autofocus) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ verifyform.submit(class="btn-lg btn-success") }}
        </div>
      </form>
</h2>
      </div>
    </div>
{% endblock body %}
